{% extends 'mainapp/base.html' %}
{% load static %}
{% block cart %}
<div class="hero_cart">
    <div class="header clearfix">
        <a href="/" class="logo"></a>
        {% include 'mainapp/include/menu.html' %}
    </div>
</div><br>
<div class="">
    <p>Корзина пользователя <b>{{ user }}</b>.</p><br>
    <table border="1">
        <tr>
            <td width="150" align="center">Название товара</td>
            <td width="50" align="center">кол-во</td>
            <td width="90" align="center">увеличить</td>
            <td width="90" align="center">уменьшить</td>
            <td width="150" align="center">цена за шт, руб</td>
            <td width="150" align="center">общая стоимость, руб</td>
        </tr>
        {% for el in cart %}
        <tr>
            <td width="50" align="center">{{ el.product.name }}</td>
            <td width="50" align="center">{{ el.quantity }}</td>
            <td width="90" align="center">
                <a href="{% url 'cart:add' el.product_id %}" style="text-decoration: none;">+</a>
            </td>
            <td width="90" align="center">
                {% if el.quantity != 0 %}
                <a href="{% url 'cart:minus' el.product_id %}" style="text-decoration: none;">-</a>
                {% else %}
                <a href="{% url 'cart:remove' el.product_id %}" style="text-decoration: none;">удалить</a>
                {% endif %}
            </td>
            <td width="150" align="center">{{ el.product_price }}</td>
            <td width="150" align="center">{{ el.product_cost }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td align="center">Итого</td>
            <td align="center">{{ cart.0.total_quantity }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td align="center">{{ cart.0.total_cost }}</td>
        </tr>
    </table><br>
    <form class="form-horizontal" action="{% url 'products:index' %}" method="post">
        {% csrf_token %}
        <input class="form-control btn btn-primary" type="submit" value="к списку товаров">
    </form>
    <form class="form-horizontal" action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <input class="form-control btn btn-primary" type="submit" value="на главную">
    </form>
</div>
{% endblock %}