{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
<div class="products_list">
    {% if category.pk != 1 %}
    <button class="new_product">
        <a href={% url 'admin:product_create' category.pk %}>новый продукт</a>
    </button>
    {% endif %}
    <br><br>
    {% for object in objects %}
    <div class="product_record">
        <div class="product_name">{{ object.name|title }}</div>
        <img src="{% static 'img/' %}{{object.image|default:'products_images/default.jpg'}}" alt="{{ object.name }}">
        <div class="product_actions">
            <button>
                <a href={% url 'admin:product_read' object.pk %}>подробнее</a>
            </button>
            <button>
                <a href={% url 'admin:product_update' object.pk %}>редактировать</a>
            </button>
            <button>
                <a href={% url 'admin:product_delete' object.pk %}>удалить</a>
            </button>
        </div>
        <div class="summary">
            <p><b>цена</b> - {{ object.price }} руб<br>
                <b>количество</b> - {{ object.quantity }} шт.
            </p>
        </div>
        <div class="product_desc">
            <b>Описание: </b>{{ object.short_desc|title }}
        </div>
    </div>
    <p>-------------------------------------------------------------------------------------</p>
    {% endfor%}
</div>
{% endblock %}