{% load static %}
<ul class="menu">
    {% for link in main_menu %}
    <li><a href="{% url link.href %}" class="{% if request.resolver_match.route == link.route %} active {% endif %}">
            {{ link.name }}
        </a>
    </li>
    {% endfor %}
    {% if user.is_authenticated %}
    <li>
        <div class="dropdown">
            <a class="dropdown-toggle" href="" data-toggle="dropdown">
                {{ user.first_name|default:'Пользователь' }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'auth:edit' %}">профиль</a>
                </li>
                <li>
                    <a href="{% url 'cart:view' %}">корзина</a>
                </li>
                <li>
                    <a href="{% url 'order:orders_list' %}">заказы</a>
                </li>
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin:users' %}">админка</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'auth:logout' %}" class="">{{ 'выйти' }}</a>
                </li>
            </ul>
        </div>
    </li>

    {% else %}
    <li>
        <a href="{% url 'auth:login' %}" class="">
            {{ 'войти' }}
        </a>
    </li>
    {% endif %}
    <li>
        <a href="#" class="search">
            <img src="{% static 'img/search.png' %}">
        </a>
    </li>
</ul>