{% extends 'mainapp/base.html' %}
{% load static %}
{% block div_products %}
<div class="hero-white">
	<div class="header clearfix">
		<a href="/" class="logo"></a>
		{% include 'mainapp/include/menu.html' %}
		<a href="#" class="search"></a>
		<a href="#" class="basket"></a>
	</div>
</div>

<div class="details">
	<div class="links clearfix">
		{% include 'mainapp/include/products_menu.html' %}
	</div>
	<div class="details-products">
		<div class="details-slider">
			<div class="slider-product">
				<img src="/media/{{ hot_product.image }}" class="big_img">
			</div>
			<div class="slider-control">
				<div class="block">
					<a href="#">
						<img src="/media/{{ hot_product.image }}" alt="" class="small_img">
						<div class="text"></div>
					</a>
				</div>
				<div class="block">
					<a href="#">
						<img src="/media/{{ hot_product.image }}" alt="" class="small_img">
						<div class="text"></div>
					</a>
				</div>
				<div class="block">
					<a href="#">
						<img src="/media/{{ hot_product.image }}" alt="" class="small_img">
						<div class="text"></div>
					</a>
				</div>
			</div>
		</div>

		<div class="description">
			<h3 class="big-bold">{{ hot_product.name }}</h3>
			<h3 class="red">горячее предложение</h3>
			<p class="price"> {{ hot_product.price }} <span>руб</span></p>
			<a href="{% url 'cart:add' hot_product.id %}" class="red-button">
				заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
			</a>
			<div class="description-text">
				<p>Расположитесь комфортно.</p>
				<p>Отличное качество материалов
					позволит вам это.</p>
				<p>Различные цвета</p>
				<p>высочайший уровень
					эргономики и прочность.</p>
			</div>
		</div>
	</div>

	<div class="featured">
		<div class="title clearfix">
			<h2>Похожие продукты</h2>
			<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
		</div>

		<div class="tab-content">
			{% for product in same_products %}
			<div class="block">
				<a href="#">
					<img src="/media/{{ product.image }}" alt="" class="block_img">
					<div class="text">
						<img src="{% static 'img/icon-hover.png' %}" alt="img">
						<h4>{{ product.description }}</h4>
						<p>Не оторваться. </p>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}